  
{
    "env": {
      "development": {
        "presets": ["next/babel"]
      },
      "production": {
        "presets": ["next/babel"]
      },
      "test": {
        "presets": [
          "@babel/env",
          "@babel/react"
        ],
        "plugins": [
          "styled-jsx/babel"
        ]
      }
    }
  }