{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "import", "jsx-a11y"],
  "globals": {
    "document": true,
    "fetch": true,
    "foo": true,
    "window": true,
    "it": true
  },
  "env": {
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
